$blackColor: #222222;
$whiteColor: #fff;
$pinkColor: #f16d7f;
$greyColor: #e8e8e8;
$product-bkg: #f7f7f7;
$brad-cramp-bkg: #f8f3f4;

$content-width: 1140px;
$standart-width: 1rem;
$pagination-width: 386px;
$standart-hight: 1rem;
$standart-pdt: 1rem;
$standart-pdb: 1rem;
$standart-pdl: 1rem;
$standart-pdr: 1rem;
$standart-gap: 1rem;
$fontSize: 16px;
$scale-animation: scale-btn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
$price: "$561";
$feature1: "$300";
$feature2: "Red";
$feature3: "Xl";
$sub-total: "900$";
$grand-total: "900$";
